[submodule "contrib/submodules/googletest"]
	path = contrib/submodules/googletest
	url = https://github.com/google/googletest
[submodule "contrib/submodules/json"]
	path = contrib/submodules/json
	url = https://github.com/nlohmann/json
[submodule "contrib/submodules/GameboyCPUTests"]
	path = contrib/submodules/GameboyCPUTests
	url = https://github.com/adtennant/GameboyCPUTests
